$gradient-color-primary: #D48179;
$gradient-color-secondary: #EBC4B9;
$text-color-primary: #2A2829;
$text-color-secondary: #EAE1E5;

.respondent-counter {
    background-image: linear-gradient(to right top, #002357, #012d64, #033771, #03427f, #024d8c);
    color: #FFD802;
}