@use '@angular/material' as mat;
@import "theming";
@import "variables";


.respondent-counter {
  background-color: mat.get-color-from-palette($my-background, 100);
  --mdc-elevated-card-container-elevation: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.respondent-counter__wrapper {
    display: flex;
    justify-content: center;
    max-width: 400px;
    position: relative;
    overflow-x: hidden;
    margin: auto;
}

.respondent-counter__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: var(--mat-option-selected-state-label-text-color);
}

.respondent-counter__legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.respondent-counter__population-toggle, .respondent-counter__legend {
  flex: 1
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}


// Graph

::ng-deep {
  .arc path {
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }

  .legend {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
  }

  .legend__color {
    height: 20px;
    width: 20px;
  }

  .respondent-counter__graph {
    font-size: 14px;
  }
}

.simulated-data-actions {
    flex-wrap: wrap;
}
