@use '@angular/material' as mat;
@import "theming";
@import "variables";

.it-trends {
  background-color: mat.get-color-from-palette($my-background, 200);
  --mdc-elevated-card-container-elevation: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.it-trends__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;

  @media (min-width: map-get($breakpoints, 'lg')) {
    flex-direction: row;
  }
}

.it-trends__wrapper__rating-col,
.it-trends__wrapper__placeholder-col {
  flex: 1;
  min-width: 250px;
}

.it-trends__wrapper__rating-col {
  text-align: center;
  font-size: 13px;
  margin-bottom: 1rem;
}

.it-trends-graph {
  display: flex;
  align-items: end;
  position: relative;
  gap: 6px;
}

.it-trends-graph__bar {
  transition: height 1s;
}

.it-trends-graph__y-axis,
.it-trends-graph__x-axis {
  position: absolute;
  stroke-width: 1.5px;
}

.it-trends-graph__x-axis {
  bottom: -24px;
  font-size: 14px;
  overflow: visible;
}

.it-trends-graph__y-axis {
  left: -24px;
  display: flex;
  svg {
    font-size: 14px;
    overflow: visible;
  }
}

.it-trends-graph__y-axis__label {
  position: absolute;
  font-size: 12px;
  transform: translate(0, -50%) rotate(-180deg);
  writing-mode: vertical-lr;
  top: 50%;
  left: -50%;
  white-space: nowrap;
}

.it-trends-graph__legend-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 0.25rem;
}

.card-controls .mat-mdc-standard-chip {
  --mdc-chip-hover-state-layer-opacity: 0;
}

.simulated-data-actions {
  flex-direction: row;
}

.simulated-data-actions__profession {
  flex: 1
}

.simulated-data-actions__rating {
  flex: 2;
}

.simulated-data-actions__drag-item {
  padding: 20px 10px;
  border: solid 1px #ccc;
  cursor: move;
}

.simulated-data-actions__add-btn {
  --mat-filled-button-icon-spacing: 0px;

  width: 56px;
  height: 56px;
  min-width: 56px;
  min-height: 56px;
  @media (min-width: map-get($breakpoints, 'md')) {
    align-self: auto;
    margin-left: 2rem;
  }
}

.simulated-data-actions__add-btn > .mat-icon {
  position: relative;
  left: 2px;
}

::ng-deep {
  .mat-mdc-form-field {
    width: 100%;
  }

  .mat-mdc-radio-group {
    margin-bottom: 0 !important;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: white;
  }
}