<div class="full-screen-container it-trends">
  <div class="container">
    <mat-card class="mb-2">
      <mat-card-header class="mb-4">
        <mat-card-title>Durchschnittliche Bewertung von IT-Trends nach Berufsgruppen</mat-card-title>
        <div class="reload-icon" [class.reload-icon--hidden]="!reloadIcon.shouldShow()">
          <mat-icon fontIcon="autorenew"></mat-icon>
        </div>
        <mat-card-subtitle>Die Daten werden alle {{ service.pollingIntervalDelay / 1000 }} Sekunden neu geladen</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="mb-4">
          <div #itTrendsWrapper class="it-trends__wrapper">
            <div class="it-trends__wrapper__rating-col">
              <span>Bewertung 6 ≙ Rang 1</span><br />
              <span>Bewertung 1 ≙ Rang 6</span>
            </div>
            <div class="it-trends-graph"
              [style.width.px]="chartWidth"
              [style.height.px]="chartHeight"
            >
              <svg
                #xAxis
                class="it-trends-graph__x-axis"
                [attr.width]="chartWidth"
                [attr.height]="scaleHeight"
              ></svg>
              <div
                class="it-trends-graph__y-axis"
                [style.width.px]="scaleHeight"
                [style.height.px]="chartHeight"
              >
              <span class="it-trends-graph__y-axis__label">Durchschnittliche Bewertung</span>
                <svg
                  #yAxis
                  [attr.width]="scaleHeight"
                  [attr.height]="chartHeight"
                >
                </svg>
              </div>
              <div></div>
              @for (item of service.data(); track item.shortName) {
                <div
                  class="it-trends-graph__bar"
                  [style.height.px]="yScale(item.average)"
                  [style.width.px]="xScale.bandwidth()"
                  [style.background]="colorScale(item.shortName)"
                ></div>
              }
              <div></div>

            </div>
            <div class="it-trends__wrapper__placeholder-col"></div>
          </div>
        </div>
        <div class="card-controls">
          <div class="w-100">
            <mat-form-field>
              <mat-label>Berufsgruppe</mat-label>
              <mat-select
                [(value)]="professionFilter"
                (selectionChange)="onProfessionDropdownChange()"
              >
                <mat-option value="all">Alle ({{ respondentCount }})</mat-option>
                @for (dropdownOption of professionDropdownOptions; track dropdownOption.label) {
                  <mat-option [value]="dropdownOption.value">{{ dropdownOption.label }} ({{ dropdownOption.amount }})</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-chip-set aria-label="It trends legend">
              @for (dataItem of service.data() | sortByStringLength:'group'; track dataItem.shortName) {
                <mat-chip disableRipple>
                  <span class="it-trends-graph__legend-color" [style.background]="colorScale(dataItem.shortName)"></span>
                  {{ dataItem.group }}
                </mat-chip>
              }
            </mat-chip-set>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
              Dateneingabe simulieren
          </mat-panel-title>
          <mat-panel-description>
              Simulierte Daten bleiben bis zum Reload des Browsers erhalten
          </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="simulated-data-actions">
        <mat-form-field class="simulated-data-actions__profession">
          <mat-label>Berufsgruppe</mat-label>
          <mat-select
            [(value)]="selectedSimulatedDataProfession"
          >
            @for (dropdownOption of professionDropdownOptions; track dropdownOption.label) {
              <mat-option [value]="dropdownOption.value">{{dropdownOption.label}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button
          mat-flat-button
          color="primary"
          class="simulated-data-actions__add-btn"
          (click)="addSimulatedData()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="simulated-data-actions">
        <div class="simulated-data-actions__rating">
          <p>Sortieren Sie die Liste nach Rang per Drag and Drop</p>
          <div cdkDropList (cdkDropListDropped)="onCdkListItemDrop($event)">
            @for (dragItemData of simulatedDataSorting; track dragItemData.shortName; let index = $index) {
              <div class="simulated-data-actions__drag-item" cdkDrag>
                <strong>{{ index + 1 }}</strong>: {{ dragItemData.group }}
              </div>
            }
          </div>
        </div>

      </div>
    </mat-expansion-panel>
  </div>

</div>
